.page-not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.not-found-img {
  width: 448px;
  height: 300px;
  margin-bottom: 32px;
}
.not-found-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #334155;
  margin-bottom: 12px;
}
.not-found-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #475569;
  margin-bottom: 32px;
  margin-top: 0px;
  width: 543px;
}
.go-back-to-home-button {
  padding: 12px 24px;
  border: none;
  width: 164px;
  height: 48px;
  outline: none;
  background: #0284c7;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
}
